PORT=5000
MONGO_URI=mongodb://ujjawal2768_db_user:9dqKXriyfuCJPIBk@ac-abcgzwe-shard-00-00.3avpl9f.mongodb.net:27017,ac-abcgzwe-shard-00-01.3avpl9f.mongodb.net:27017,ac-abcgzwe-shard-00-02.3avpl9f.mongodb.net:27017/lumina?authSource=admin&replicaSet=atlas-ziizqp-shard-0&tls=true
JWT_SECRET=3faaa60f2ecd3a288fc366061b3535ac3e38eeffa221bf8c7ad5b121a309c103066189297dc43cc2ea1dec13bb3d1897908220fa280e573b1e9fcc23980c35cf
CLIENT_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ujjawal.outreach@gmail.com
SMTP_PASS=YOUR_GMAIL_APP_PASSWORD
MAIL_FROM=ujjawal.outreach@gmail.com
